{% extends "template.html" %}
{% block title %}
New inventory
{% endblock %}
{% block active %}
        <li><a href="{% url 'searchroduct' %}">Products</a></li>
        <li><a href="{% url 'showinventory' %}">Inventory</a></li>
        <li class="active1"><a href="{% url 'newinventory' %}" style="color:white;">New inventory</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="{% url 'ordersW' %}">Orders</a></li>
        <li><a href="#">Reports</a></li>
{% endblock %}
{% block main %}
    <form method="POST">
        <br>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="mybutton">Add</button>
    </form>
    <p style="color:rgb(38, 0, 255)">{{message}}</p>
    <p style="color:red">{{message2}}</p>
{% endblock %}
