{% extends "template.html" %}
{% block title %}
Manager
{% endblock %}
{% block active %}
        <li class="active1"a><a href="#" style="color:white;">Products</a></li>
        <li><a href="{% url 'showinventory' %}">Inventory</a></li>
        <li><a href="{% url 'newinventory' %}">New inventory</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Reports</a></li>
{% endblock %}
{% block main %}
<div>
    <br>
    Sku: {{product.sku}}
    <br>
    Product name: {{product.name}} 
    <br>
    Price : {{product.price}}
    <br>
    Category : {{product.return_category}}
    <br>
    Descripstion:  {{product.descprition}}
</div>
{% endblock %}