{% extends "template.html" %}
{% block title %}
Reports
{% endblock %}
{% block active %}
        <li><a href="{% url 'searchroduct' %}">Products</a></li>
        <li><a href="{% url 'showinventory' %}">Inventory</a></li>
        <li><a href="{% url 'newinventory' %}">New inventory</a></li>
        <li><a href="{% url 'returns' %}">Returns</a></li>
        <li><a href="{% url 'ordersW' %}">Orders</a></li>
        <li class="active1"a><a href="{% url 'reports_worker' %}" style="color:white;">Reports</a></li>
       
{% endblock %}
{% block main %}
<div>
  <br>
  <div class="well">
      <ul>
        <li><a href="{% url 'inventory-worker-excel' %}" style="background: #f5f5f5; border:#f5f5f5; color:rgb(0, 47, 255)">Export inventory report to EXCELS</a></li> 
      </ul>
  </div>
</div>
<div>
  <br>
  <div class="well">
      <ul>
        <li><a href="{% url 'stocktaking-worker-excel' %}" style="background: #f5f5f5; border:#f5f5f5; color:rgb(0, 47, 255)">Export stocktaking report to EXCELS</a></li> 
      </ul>
  </div>
</div>
{% endblock %}




