{% extends "template.html" %}
{% load bootstrap_icons %}
{% block title %}
Returns
{% endblock %}
{% block active %}
       <li><a href="{% url 'searchroduct' %}">Products</a></li>
       <li><a href="{% url 'showinventory' %}">Inventory</a></li>
       <li><a href="{% url 'newinventory' %}">New inventory</a></li>
       <li class="active1"><a href="{% url 'returns' %}" style="color:white;">Returns</a></li>
       <li><a href="{% url 'ordersW' %}">Orders</a></li>
       <li><a href="#">Reports</a></li>
        {% endblock %}
{% block main %}
<div class="inline">
    <form method="post" class="inline">
        <br>
        <input type="number" id="sku" name="sku" value="{{s}}" placeholder="Sku">
        
        <input type="number" id="serial" name="serial" value="{{se}}" placeholder="Serial">
        Category:
        <select name="category" id="category">
            <option value="">All</option>
            <option value="0">Photographic products</option>
            <option value="1">Writing Tools</option>
        </select>
        {% csrf_token %}
        <button type="submit" id=search name="search" class="mybutton">{% bs_icon 'search' %}</button>
    </form>
</div>
<div class="mask d-flex align-items-center h-100">
  <br>
    <div style="height: 70vh; overflow:auto;">
      <div class="container-fluid text-center">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless mb-0">
                    <thead>
                      <tr >
                        <th scope="col">Sku</th>
                        <th scope="col">Category</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Return to</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for ret in l_returns %}
                        <tr>
                            <td><ul><li><a href="{% url 'showproduct' ret.sku.sku %}">{{ret.sku.sku}}</a></li></ul></td>
                            <td>{{ret.sku.return_category}}</td>
                            <td>{{ret.serial}}</td>
                            <td>{{ret.sku.name}}</td>
                            <td>{{ret.amount}}</td>
                            <td>
                              <form method="post" class="inline">
                                {% for field in form %}
                                {{ field }}
                                {% endfor %}
                                {% csrf_token %}
                                <button type="submit" name="{{ret.id}}" style="background-color: #f5f7fa; color:rgb(17, 121, 182); border: #f5f7fa;">
                                  <i class="fas fa-times">{% bs_icon 'check-square-fill' %}</i>
                                </button>
                              </form>
                            </td>
                        </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}