{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            login
        </title>
        <link rel="stylesheet" href="{% static 'website/style.css' %}">
    </head>
    <body>
        <div class="login">
            <form method="post" class="login_form">
                <p>User name</p>
                <input type="text" id="username" name="username" value=""><br><br>
                <p>Password</p>
                <input type="password" id="password" name="password" value=""><br><br>
                {% csrf_token %}
                <button type="submit">Login</button><br><br>
                
            </form>
            <form action="{% url 'register' %}"><button type="submit">Register</button></form>
            <p style="color:red;"> {{message}} </p>
            
        </div>
            
    </body>
</html>