{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            login
        </title>
        <link rel="stylesheet" href="{% static 'website/style.css' %}">
    </head>
    <body>
        <div class="login">
            <form method="POST" class="login_form"><table>
                {{form}}
            </table> 
            {% csrf_token %}
            <br><button type="submit">Sign up</button>
             </form><br>
             <form action="{% url 'login' %}"><button type="submit">Return</button></form>
            </div>  
            
    </body>
</html>