{% extends {{"manager/menu.html"}} %}

{% block title %}
    {{user.username}}
{% endblock %}
{% block main %}
<form method="POST">
  <br>
    {% csrf_token %}
    {{form1.as_p}}
    <button type="submit" class="mybutton" name="change_info">Update info</button>
    <h4 style="color:blue;">{{message}}</h4>
</form>
<form method="POST">
  <br>
    {% csrf_token %}
    {{form2.as_p}}
    <button type="submit" class="mybutton" name="change_password">Change password</button>
    <h4 style="color:blue;">{{message2}}</h4>
</form>
{% endblock %}