body{
    background:#D9D9D9;
    font-family: 'sans-serif';
    font-style: normal;
}

p{
    font-family: 'sans-serif';
    font-style: normal;
    font-size: large;
    color :rgb(76, 78, 78);
}

input{
    width: 160px;
    height: 20px;
    border-radius: 5px;
}

button{
    background-color: rgb(212, 214, 216);
    width: auto;
    height: auto;
    border-radius: 15px;
    font-family: 'sans-serif';
    font-style: normal;
    font-size: large;
    color :rgb(38, 39, 39);
    margin:5px;
    cursor: auto;
}
.login{
    position: fixed;
    width: 262px;
    height: 360px;
    left: 500px;
    top: 99px;
    background: #BFF7BA;
    opacity: 0.7;
    border-radius: 20px;
}

.login_form{
    position:relative;
    left: 50px;
    margin-left:auto;
    margin-top: auto;
    margin-right:auto;
    margin-bottom: auto;
    padding: 2em;
    display: inline-block; 
    padding-top: 2em;
    padding-left: 2em;
}


.menu{
    width: 874.39px;
    height: 87px;
    background: #BFF7BA;
    opacity: 0.7;
    border-radius: 20px;
}

.inline {
    display: inline-block; 
    padding-top: 2em;
    padding-left: 2em;
}

form{
    display: inline-block; 
}
.implent_div {
    position: absolute;
    width: 950px;
    height: 400px;
    left:150px;
    top: 120px;
    background-color: #ffffff;
    border-radius: 20px;
}


