{% extends "template.html" %}
{% load bootstrap_icons %}
{% block title %}
Create user
{% endblock %}
{% block active %}
        <li><a href="{% url 'newproduct' %}">New product</a></li>
        <li><a href="{% url 'newlocation' %}">New Location</a></li>
        <li><a href="{% url 'Inventory' %}">Inventory</a></li>
        <li class="active1"><a href="{% url 'showusers' %}" style="color:white;">User managment</a></li>
        <li><a href="#">Reports</a></li>
{% endblock %}
{% block left_bar %}
<div class="well">
    <li><a href="{% url 'showusers' %}">{% bs_icon 'people' size='3em' %}</a></li>
  </div>
{% endblock %}
{% block main %}
    <form method="POST">
      <br>
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="mybutton">Create</button>
      <h4 style="color:blue;">{{message}}</h4>
    </form>
{% endblock %}