{% extends "template.html" %}
{% block title %}
New location
{% endblock %}
{% block active %}
        <li><a href="{% url 'newproduct' %}">New product</a></li>
        <li class="active1"><a href="{% url 'newlocation' %}" style="color:white;">New Location</a></li>
        <li><a href="{% url 'Inventory' %}">Inventory</a></li>
        <li><a href="{% url 'showusers' %}">User managment</a></li>
        <li><a href="{% url 'reports_manager' %}">Reports</a></li>
{% endblock %}
{% block main %}
    {% if message != None %}
      <script>alert("{{message}}");</script>
      {% endif %}
    <form method="POST">
        <br>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="mybutton">Create</button>
    </form>
{% endblock %}