{% extends "template.html" %}
{% block title %}
Reports
{% endblock %}
{% block active %}
        <li><a href="{% url 'newproduct' %}" >New product</a></li>
        <li><a href="{% url 'newlocation' %}">New Location</a></li>
        <li><a href="{% url 'Inventory' %}">Inventory</a></li>
        <li><a href="{% url 'showusers' %}">User managment</a></li>
        <li class="active1"><a href="{% url 'reports_manager' %}"style="color:white;">Reports</a></li>
{% endblock %}
{% block main %}
<br>
<div class="well">
    <ul>
      <li><a href="{% url 'inventory-exel' %}">Export inventory report to EXCELS</a></li>
    </ul>
</div>
{% endblock %}